<h4>ngx-pagination</h4>
<div class="table_wrapper">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>id</th>
              <th>name</th>
              <th>cup</th>
              <th>age</th>
              <th>grade</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let girl of girls?.allGirls | paginate: pageConf">
          <td>{{girl?.id}}</td>
          <td>{{girl?.name}}</td>
          <td>{{girl?.cup}}</td>
          <td>{{girl?.age}}</td>
          <td>{{girl?.grade}}</td>
        </tr>
      </tbody>
  </table>
  <div class="has-text-centered">
    <!-- maxSize: 分组数量 -->
    <pagination-controls class="my-pagination"  [id]="pageConf.id"
                          maxSize="5"
                          directionLinks="true"
                          autoHide="true"
                          [previousLabel]=labels.previousLabel
                          [nextLabel]=labels.nextLabel
                          (pageChange)="onPageChange($event)">
    </pagination-controls>
</div>
</div>
